## Get to know the syntax

In [1]:
println("Hello Julia!")

Hello Julia!

#### Variables and basic operations

In [2]:
a = 5
b =10.5
c = "learning julia"

println(a)
println(b)
println(c)

5
10.5
learning julia

In [3]:
sum = a + b
product = a * b
quotient = b / a
difference = b - a

println("Sum: ", sum, "  ", "Prod: ",product, "  ", "Quot: ", quotient, "  ", "Difference: ", difference)

Sum: 15.5  Prod: 52.5  Quot: 2.1  Difference: 5.5

#### Creating Functions

In [4]:
function add_number(x, y)
    sum = x + y
    return sum
end

add_number(2, 3)

5

In [5]:
function greet(name="Stranger")
    println("Hello, $name !")
end

greet("Amir")
greet()

Hello, Amir !
Hello, Stranger !

#### Conditionals

In [6]:
number = 7

if number % 2 == 0
    println("$number is even")
elseif number % 2 != 0
    println("$number is odd")
else
    println("Not a valid number!")
end

7 is odd

#### For loops

In [7]:
for i in 1:5
    println("Iteration $i")
end

Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5

#### While loops

In [8]:
counter = 1
while counter <= 5
    println("Counter is $counter")
    counter += 1
end

Counter is 1
Counter is 2
Counter is 3
Counter is 4
Counter is 5

### Arrays

In [9]:
# Create a 1D array
numbers = [1, 2, 3, 4, 5]

# Access elements
first_element = numbers[1]
last_element = numbers[end]

# Modify elements
numbers[2] = 10

# Create a 2D array (matrix)
matrix = [1 2 3; 4 5 6; 7 8 9]

# Access elements in a matrix
element_2_3 = matrix[2, 3]

6

#### Array Operations

In [10]:
#Add an element to the end
push!(numbers, 6)

# Remove the last element
pop!(numbers)

# Append another array
more_numbers = [7, 8, 9]
combined = vcat(numbers, more_numbers)

8-element Vector{Int64}:
  1
 10
  3
  4
  5
  7
  8
  9

#### Dictionaries

In [11]:
# Create a dictionary
dict = Dict("name" => "Alice", "age" => 30, "city" => "New York")

# Access values
name = dict["name"]
age = dict["age"]

# Modify values
dict["age"] = 31

# Add new key-value pair
dict["occupation"] = "Engineer"

"Engineer"

#### Tuples

In [12]:
# Create a tuple
person = ("Alice", 30, "New York")

# Access elements
name = person[1]
age = person[2]
city = person[3]

"New York"

# Advanced Funcitons

#### Multiple Dispatch

In [13]:
function describe(x::Int)
    println("$x is integer")
end

function describe(x::Float64)
    println("$x is float")
end

function describe(x::String)
    println("$x is string")
end

describe(10)
describe(1.2)
describe("Amir")

10 is integer
1.2 is float
Amir is string

#### Anonymous functions (Lambda functions) and closure

In [14]:
square = x -> x^2
println(square(2))

# lamda functions can be passed to higher-order funcitons
array = [1, 2, 3, 4]
squared_numbers = map(x -> x^2, array)
println(squared_numbers)

4
[1, 4, 9, 16]

#### function overloading

In [15]:
function greet(name)
    println("I am $name")
end

function greet(name, pos)
    println("I am $pos $name")
end

greet("Amir")
greet("Amir", "Dr.")

I am Amir
I am Dr. Amir

# Modules and Packages

#### creating modules

In [16]:
# created a module in a .jl format: MyMath.jl
# Using the created module below:
include("MyMath.jl")
using .MyMath

result = add(2, 3)
println("Addition result: $result")

result = multiply(4, 5)
println("Multiplication result: $result")

Addition result: 5
Multiplication result: 20

#### External exsiting packages

In [2]:
import Pkg
Pkg.add("DataFrames")

   Resolving package versions...
  No Changes to `~/.julia/environments/v1.8/Project.toml`
  No Changes to `~/.julia/environments/v1.8/Manifest.toml`

In [5]:
using DataFrames
df = DataFrame(Name=["Amir", "Shima", "Dario"], Age=[28, 29, 30])
println(df)

3×2 DataFrame
 Row │ Name    Age
     │ String  Int64
─────┼───────────────
   1 │ Amir       28
   2 │ Shima      29
   3 │ Dario      30